/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,500&display=swap');
/* common styles & utilities */
body{
    font-family:'Poppins', sans-serif;
    background-color: white;
}
p{
    font-size: 15px;
}
.button{
    color: antiquewhite;
    background-color: red;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    
}
main{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.container{
    display: flex;
    background-color: black;
    font-size: 34px;
    color: aliceblue;
    width: 870px;
    height: 350px;
    padding: 50px;
    margin-top: 21px;
    border-radius: 10px;
}
.upcoming{
    color: cornflowerblue;
    background-color: black;
    border: 1px solid black;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    margin-right: 50px;
    margin-bottom: 100px;
}
.groups, .blogs{
    color: aliceblue;
    color: black;
}
.matches{
    color: aliceblue;
    background-color: red;
}

.up-trans{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.flag-img{
    display: flex;
    justify-content: center;
}
.transfer{
        font-size: 21px;
        color: black;
        border: 2px solid wheat;
        border-radius: 5px;
}
.transfers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.box{
    color: aliceblue;
    background-color: black;
    padding-left: 50%;
    padding-top: 10%;
    padding-bottom: 10%
}
.centered1{
    text-align: center;
}

/* mobile devices */
@media screen and (max-width:688px) {
    .transfers{
        grid-template-columns: repeat(1, 1fr);
    }
    .up-trans{
        display: grid;

    }
}
